.antiquewhite{
  background-color:antiquewhite !important;
}

.blanchedalmond{
  background-color:blanchedalmond !important;
}

.multimedia{
  background-color:antiquewhite !important;
  color: black
}

#te{
  background-color:black;
}